{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h2> {{ heading }}</h2>
    <ul class="pagination">
      {# display section heading and content #}
      {% block app_content %}{% endblock %}
    </ul>
</div>
{% endblock %}

{% block app_scripts %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dt_1').DataTable();
        });
    </script>
{% endblock %}
